// Fonts
$header-font: 'Poppins', sans-serif;
$body-font: 'Roboto', sans-serif;

// Colors
$dark-blue:  #003282;
$light-blue: #009EE5;
$white: #FFF;
$light-grey: #EEE;
$medium-grey: #CCC;
$yellow: #FFC931;
$light-yellow: #FFE298;
$orange: #EF6D04;
$map-blue: #9EC1FF;
$map-grey: #E5E3DF;

// transitions
$trns-quick-linear: 0.1s linear;
$trns-medium-ease: 0.3s ease;
